/*Colors*/

//Primary

$Red: hsl(0, 100%, 74%); 
$Green: hsl(154, 59%, 51%);

//Accent

$Blue: hsl(248, 32%, 49%);

//Neutral

$DarkBlue: hsl(249, 10%, 26%);
$GrayBlue: hsl(246, 25%, 77%);

//Fonts
$white: #fff;

/*Main*/
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    height:100vh;
    width:100vw;
    background-image: url("/images/bg-intro-desktop.png");
    background-color: $Red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron{
    display:flex;
    max-width:60%;
    height:70%;
}
.learn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    width:50%;

    h1{
        color:$white;
        font-size: 2rem;
        line-height: 2.1rem;
    }
    p{
        color:$white;
        font-size: 1rem;
    }
}
.SignUp{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:50%;

    .try{
       height:10%;
       box-shadow:5px 5px 15px 3px rgba(0,0,0,0.31);

       button{
           width:100%;
           border-radius: 5px;
           border:none;
           color:$white;
           background-color: $Blue;
           height:100%;

           span{
               color: $GrayBlue;
           }
       }
    }
    .form{
       height:70%;
       margin-top: 20px;
       background-color: $white;
       border-radius: 5px;
       padding: 10px;
       text-align: center;
       box-shadow:5px 5px 15px 3px rgba(0,0,0,0.31);
       }
       input{
           width:95%;
           height:35px;
           margin-bottom: 10px;
           padding:5px;
       }
       input:focus::placeholder {
           color: transparent;
      }
       input:first-child{
           margin-top:10px;
       }
       input:last-child{
           border: none;
           border-radius: 7px;
           cursor: pointer;
           width:100%;
           background-color: $Green;
           margin-bottom: 10px;
           color:$white;
           font-size: 1rem;
       } 
       p{
           font-size: .7rem;
           color:$GrayBlue;
           font-weight: 600;

           span{
               color:$Red;
           }
       }
    }
/*Mobile*/
@media only screen and (max-width: 900px){
   .jumbotron{
       display: flex;
       align-items: center;
       flex-direction: column;
       text-align: center;
       min-width:100vw;
       height:100vh;
       
   }
   .terms{
       margin-top: 15px;
   }
}
